@import '../../scss/index';

.goback {
  align-items: center;
  background-color: $background-light;
  border: 3px solid $border-gray;
  bottom: 0;
  color: $font-gray-dark;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  position: fixed;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  max-width: $mobile;

  h3 {
    margin: 0;
    margin-left: 1rem;
    padding: 0;
  }

  &__arrow {
    font-size: 2rem;
  }
}
